/* Cart CSS  */
.cart {
  border: 2px solid rgba(117, 117, 117, 0.493);
  border-radius: 8px;
  height: 400px;
  position: sticky;
}

/* Cart Buttons */
.CartButtons {
  position: absolute;
  bottom: 0;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.CartButtons p {
  margin: 0;
}

.getRandomBtn {
  border: 0px;
  border-radius: 5px;
  margin-bottom: 5px;
  padding: 5px 0px;
}
.chooseAgainBtn {
  border: 0px;
  border-radius: 5px;
  padding: 5px 0px;
}

/* BrackPoint */
@media only screen and (max-width: 415px) {
  .cart {
    margin: 20px 20px;
  }
}
