/* Cart CSS  */
.cart {
  border: 2px solid rgba(117, 117, 117, 0.493);
  border-radius: 8px;
  height: 400px;
  position: sticky;
  top: 40px;
}

/* BrackPoint */
@media only screen and (max-width: 415px) {
  .cart {
    margin: 20px 20px;
  }
}
